In [14]:
import matplotlib
matplotlib.use('Agg')
from datascience import Table
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
plt.style.use('fivethirtyeight')
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix

In [24]:
data = Table.read_table("./HR_Analytics_Data.csv")

In [26]:
data.group('Department')

Department  | count
IT          | 1227
RandD       | 787
accounting  | 767
hr          | 739
management  | 630
marketing   | 858
product_mng | 902
sales       | 4140
support     | 2229
technical   | 2720

### Dropping the department as its difficlut to draw the relation by converting the categorical values into numeric

In [27]:
data1 = data.drop('Department')
data1

satisfaction_level | last_evaluation | number_project | average_montly_hours | time_spend_company | Work_accident | left | promotion_last_5years | salary
0.38               | 0.53            | 2              | 157                  | 3                  | 0             | 1    | 0                     | low
0.8                | 0.86            | 5              | 262                  | 6                  | 0             | 1    | 0                     | medium
0.11               | 0.88            | 7              | 272                  | 4                  | 0             | 1    | 0                     | medium
0.72               | 0.87            | 5              | 223                  | 5                  | 0             | 1    | 0                     | low
0.37               | 0.52            | 2              | 159                  | 3                  | 0             | 1    | 0                     | low
0.41               | 0.5             | 2              | 153                  | 3                  | 0             | 1    | 0                     | low
0.1                | 0.77            | 6              | 247                  | 4                  | 0             | 1    | 0                     | low
0.92               | 0.85            | 5              | 259                  | 5                  | 0             | 1    | 0                     | low
0.89               | 1               | 5              | 224                  | 5                  | 0             | 1    | 0                     | low
0.42               | 0.53            | 2              | 142                  | 3                  | 0             | 1    | 0                     | low
... (14989 rows omitted)

### Without categorical data analysing the table for relationships

In [34]:
data2 = data1.drop('salary')
data2.groups(['left'], np.mean)

left | satisfaction_level mean | last_evaluation mean | number_project mean | average_montly_hours mean | time_spend_company mean | Work_accident mean | promotion_last_5years mean
0    | 0.66681                 | 0.715473             | 3.78666             | 199.06                    | 3.38003                 | 0.175009           | 0.0262513
1    | 0.440098                | 0.718113             | 3.8555              | 207.419                   | 3.87651                 | 0.0473257          | 0.00532064

### Dropping last_evaluation and number_project for analysis as little relation is found with the employee retention

In [35]:
data3 = data1.drop('last_evaluation', 'number_project')

### Adding dummy varibles for different levels of salary and removing salary column

In [ ]:
salary_dummies = pd.get_dummies(data3['salary'], prefix="salary")
sal_tab = Table.from_df(salary_dummies)
sal_tab_with_salary = sal_tab.with_column('salary',data3['salary'] )
data4 = data3.join('salary', sal_tab_with_salary)
print(data4)

In [30]:
logitModel.intercept_

array([-0.55616581])

In [31]:
logitModel.coef_

array([[0.00239235]])

In [35]:
gre_test = np.array([526,465,455,402,625,583,636]).reshape(-1, 1)
logitModel.predict(x)

array([1, 1, 1, 1, 1, 1, 1])