In [17]:
import pandas as pd
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
df = pd.DataFrame(weather_data, columns=['day', 'temp', 'windspeed', 'event'])
# df = pd.read_csv("weather_data.csv")
df

        day  temp  windspeed  event
0  1/1/2017    32          6   Rain
1  1/2/2017    35          7  Sunny
2  1/3/2017    28          2   SNow

In [18]:
df.shape # rows, columns = df.shape

(3, 4)

## <font color='blue'>Rows</font>

In [19]:
df.head() # df.head(3)

        day  temp  windspeed  event
0  1/1/2017    32          6   Rain
1  1/2/2017    35          7  Sunny
2  1/3/2017    28          2   SNow

In [20]:
df.tail() # df.tail(2)

        day  temp  windspeed  event
0  1/1/2017    32          6   Rain
1  1/2/2017    35          7  Sunny
2  1/3/2017    28          2   SNow

In [21]:
df[1:3]

        day  temp  windspeed  event
1  1/2/2017    35          7  Sunny
2  1/3/2017    28          2   SNow

## <font color='blue'>Columns</font>

In [22]:
df.columns

Index(['day', 'temp', 'windspeed', 'event'], dtype='object')

In [23]:
df['day'] # or df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
Name: day, dtype: object

In [24]:
type(df['day'])

pandas.core.series.Series

In [25]:
df[['day','temperature']]

KeyError: "['temperature'] not in index"

## <font color='blue'>Operations On DataFrame</font>

In [12]:
df['temperature'].max()

35

In [13]:
df[df['temperature']>32]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [14]:
df['day'][df['temperature'] == df['temperature'].max()] # Kinda doing SQL in pandas

1    1/2/2017
Name: day, dtype: object

In [15]:
df[df['temperature'] == df['temperature'].max()] # Kinda doing SQL in pandas

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [16]:
df['temperature'].std()

3.8297084310253524

In [17]:
df['event'].max() # But mean() won't work since data type is string

'Sunny'

In [18]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

**Google pandas series operations to find out list of all operations**
http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.html

## <font color='blue'>set_index</font>

In [19]:
df.set_index('day')

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [20]:
df.set_index('day', inplace=True)

In [21]:
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [22]:
df.index

Index(['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'], dtype='object', name='day')

In [23]:
df.loc['1/2/2017']

temperature       35
windspeed          7
event          Sunny
Name: 1/2/2017, dtype: object

In [24]:
df.reset_index(inplace=True)
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [25]:
df.set_index('event',inplace=True) # this is kind of building a hash map using event as a key
df

            day  temperature  windspeed
event
Rain   1/1/2017           32          6
Sunny  1/2/2017           35          7
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7
Rain   1/5/2017           32          4
Sunny  1/6/2017           31          2

In [26]:
df.loc['Snow']

            day  temperature  windspeed
event
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7